.right {
	font-family: "Cambria";
	width: 30%;
	padding: 20px;
	float: right;
}

.left {
	font-family: "Cambria";
	padding: 20px;
}
.right img {
	width: 95%;
	display: block;
	margin: 0 auto;
}
.headers {
	font-family: "FishFingers";
	color: #000000;
	font-size: 45px;
	margin: 0;
}
#center p {
	margin-top: 0;
}

ul,li {
	margin-top: 0;
	margin-left: 0;
	padding-left: 20px;
}

#sk1 {
	float: left;
}
#sk2 {
	float: left;
	margin-left: 20px;
}
.photos img{
	margin-top: 20px;
	width: 200px;
	height:200px;
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.photos img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}