.left {
	font-family: "Cambria";
	float: left;
	width: 30%;
	padding: 20px;
}

.right {
	font-family: "Cambria";
	float: left;
	width: 60%;
	padding: 20px;
}

.left img {
	width: 90%;
	display: block;
	margin: 0 auto;
}

.right img {
	width: 100%;
}

.project a {
	font-family: "FishFingers";
	text-decoration: none;
	color: #000000;
	font-size: 45px;
	margin: 0;

}

.event_name{
	font-family: "FishFingers";
	font-size: 50px;
	margin: 0;
	color: #000000;
	text-align: center;
	margin-top: 10px;
}

.event_description{
	font-family: "FishFingers";
	font-size: 25px;
	margin: 0;
	color: #000000;
	text-align: center;
}

.date {
	margin-top: 0;
	text-align: center;
}