#name a {
	padding: 0;
	display: block;
	margin: 0 auto;
	margin-top: 150px;
	font-family: "StarsFromOurEyes";
	font-size: 100px;
	text-align: center;
	color: #e5dff0;
	height: 110px;
	width: 1020px;
	padding-bottom: 0px;
	text-decoration: none;
}

#name img {
	width: 80%;
}

#bottom {
	background-image: url("code.png");
	background-size: 50% auto;
	height: 280px;
}

#nav {
	margin-top: 60px;
}