body {
	font-family: 'Raleway';
	background-color: #f1f1f1;
}

h3, h4, .mdl-button {
	font-family: 'Raleway';
}

#about-me {
	min-height: 300px;
}

#about-me header {
	background-image: url(../images/rochelle.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.page-content {
	padding-top: 2em;
	width: 1251px;
	margin: 0 auto;
}

.page-content > .mdl-card {
	margin: 0 auto;
}

.mdl-layout__header-row {
	padding-left: 40px;
}

.mdl-layout-title {
	font-family: 'Raleway';
}

.mdl-layout__header .mdl-layout__drawer-button {
	visibility: hidden;
}

.mdl-navigation__link {
	font-size: 1.2em;
}

#about-me > .mdl-card > .mdl-card__supporting-text {
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
}

.section-title {
	background-color: #3f51b5;
	color: #fff;
	cursor: default;
	display: block;
	font-size: 30px;
  height: auto;
  margin: 20px 0;
  padding: 10px 20px;
}

.section-title:hover {
	background-color: #3f51b5;
}

section.section--center {
    width: 85%;
}

#about-me-card-wrapper {
	padding: 15px;
	width: 100%;
}

#about-me-card {
	width: auto;
}

#about-me-card .mdl-card__title {
	width: 30%;
	height: 100%;
	float: left;
	background: url("../images/rochelle.jpg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #e3e3e3;
}

#about-me-card .mdl-card__supporting-text {
	font-size: 20px;
	line-height: 30px;
}

#college {
	height: 176px;
	background: url("../images/%23college.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #e3e3e3;
}

#scal {
	height: 176px;
	background: url("../images/scal.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #ab2a2a;
}

#spaceteam {
	height: 176px;
	background: url("../images/spaceteam.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #a069d3;
}

#webreg {
	height: 176px;
	background: url("../images/webreg.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #ffcc00;
}

#tetrabble {
	height: 176px;
	background: url("../images/tetrabble.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #5dcbd5;
}

#birthday {
	height: 176px;
	background: url("../images/birthday.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #e3e3e3;
}

#oickos {
	height: 176px;
	background: url("../images/oickos.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #c9fc95;
}

.mdl-card {
	width: 280px;
	display: inline-block;
	vertical-align: top;
	margin: 15px;
	min-height: 320px;
}
.mdl-card__actions {
	position: absolute;
	bottom: 0;
}
.mdl-card__supporting-text {
	vertical-align: middle;
}

@media only screen and (max-device-width:800px) {
	.mdl-layout__header .mdl-layout__drawer-button {
		visibility: visible;
	}

	.mdl-layout__header-row {
		padding-left: 80px;
	}
}

@media (max-width:1250px) {
	.page-content {
		width: 938px;
	}
}

@media (max-width:970px) {
	.page-content {
		width: 624px;
	}
}

@media (max-width:660px) {
	.page-content {
		width: 80%;
	}

	.project {
		width: 100%;
		padding: 0;
		margin: 15px 0;
	}
}

@media (max-width:850px) {
	.mdl-layout__header .mdl-layout__drawer-button {
		visibility: visible;
	}

	.mdl-layout__header-row {
		padding-left: 80px;
	}
}