body {
	font-family: 'Raleway';
	background-color: #f1f1f1;
	background-image: url(../images/san-fran.jpg);
	background-size: cover;
}

h3, h4, .mdl-button {
	font-family: 'Raleway';
}

nav a {
		/* transition */
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	transition: all .5s ease;
}

.page-content {
	padding-top: 2em;
	width: 1251px;
	margin: 0 auto;
}

.page-content > .mdl-card {
	margin: 0 auto;
}

.mdl-layout__header-row {
	padding-left: 40px;
}

.mdl-layout-title {
	font-family: 'Raleway';
}

.mdl-layout__header .mdl-layout__drawer-button {
	visibility: hidden;
}

.mdl-navigation__link {
	font-size: 1.2em;
}

#about-me > .mdl-card > .mdl-card__supporting-text {
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
}

.section-title {
	background-color: #3f51b5;
	color: #fff;
	cursor: default;
	display: block;
	font-size: 30px;
  height: auto;
  margin: 20px 0;
  padding: 10px 20px;
}

.section-title:hover {
	background-color: #3f51b5;
}

section.section--center {
    width: 85%;
}

#about-me-card-wrapper {
	padding: 15px;
	width: 100%;
}

#about-me-card {
	width: auto;
}

#about-me-card .mdl-card__title {
	width: 30%;
	height: 320px;
	float: left;
	background: url("../images/rochelle.jpg");
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #e3e3e3;
}

#about-me-card .mdl-card__supporting-text {
	font-size: 20px;
	line-height: 30px;
	width: 60%;
}

#college {
	height: 176px;
	background: url("../images/%23college.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #e3e3e3;
}

#scal {
	height: 176px;
	background: url("../images/scal.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #ab2a2a;
}

#spaceteam {
	height: 176px;
	background: url("../images/spaceteam.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #a069d3;
}

#webreg {
	height: 176px;
	background: url("../images/webreg.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #ffcc00;
}

#tetrabble {
	height: 176px;
	background: url("../images/tetrabble.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #5dcbd5;
}

#birthday {
	height: 176px;
	background: url("../images/birthday.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #e3e3e3;
}

#oickos {
	height: 176px;
	background: url("../images/oickos.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #c9fc95;
}

.mdl-card {
	width: 280px;
	display: inline-block;
	vertical-align: top;
	margin: 15px;
	min-height: 320px;
}

.mdl-card__actions {
	position: absolute;
	bottom: 0;
}

.mdl-card__supporting-text {
	padding: 0;
	vertical-align: middle;
}

.about-me-blurb {
	padding: 25px;
}

.project .mdl-card__supporting-text {
	padding: 15px;
}

.job {
	min-height: 270px;
	width: calc(50% - 32px);
}

.job-left {
	float: left;
	padding: 20px;
	width: 23%;
}

.job-left img {
	border-radius: 10px;
	height: auto;
	width: 100%;
}

.company {
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

.job .mdl-card__supporting-text {
	font-size: 19px;
  line-height: 26px;
	padding: 12px;
  padding-top: 20px;
	width: 60%;
}

.job .title {
	color: #3f51b5;
	float: left;
	padding: 5px 10px; 
}

.job .date {
	float: right;
	padding: 5px 10px; 
}

@media only screen and (max-device-width:800px) {
	.mdl-layout__header .mdl-layout__drawer-button {
		visibility: visible;
	}

	.mdl-layout__header-row {
		padding-left: 80px;
	}
}

@media (max-width:1250px) {
	.job {
    min-height: 320px;
	}

	.job .title {
		display: block;
		float: none;
		text-align: center;
	}

	.job .date {
		display: block;
		float: none;
		padding-top: 0;
		text-align: center;
	}

	.page-content {
		width: 938px;
	}
}

@media (max-width:970px) {
	.section-title {
		width: 100%;
	}

	#about-me-card .mdl-card__title {
		background-size: cover;
		height: 350px;
		float: none;
		width: 100%;
	}

	#about-me-card .mdl-card__supporting-text {
		width: 100%;
	}

	.page-content {
		width: 624px;
	}

	.job {
		margin: 15px 0;
		min-height: 270px;
		width: auto;
	}

	.job .title {
		display: inline;
		float: left;
	}

	.job .date {
		display: inline;
		float: right;
		padding-top: 5px;
	}
}

@media (max-width:700px) {
	#about-me-card {
		margin: 0;
	}

	#about-me-card .mdl-card__title {
		height: 300px;
	}

	.project .mdl-card__supporting-text {
		font-size: 16px;
    line-height: 21px;
	}

	.page-content {
		width: 80%;
	}

	.project {
		width: 100%;
		padding: 0;
		margin: 15px 0;
	}
}

@media (max-width: 620px) {
	.job {
    min-height: 320px;
	}

	.job .title {
		display: block;
		float: none;
		text-align: center;
	}

	.job .date {
		display: block;
		float: none;
		padding-top: 0;
		text-align: center;
	}
}

@media (max-width: 545px) {
	.job {
    min-height: 370px;
	}
}

@media (max-width: 480px) {
	.job {
    min-height: 510px;
	}

	.job-left {
		float: none;
		width: 90%;
	}

	.job-left img {
		display: inherit;
		margin: 0 auto;
		width: 40%;
	}

	.job .mdl-card__supporting-text {
		display: block;
		float: none;
		margin: 0 auto;
		padding: 0 10px;
		width: 90%;
	}
}

@media (max-width:850px) {
	.mdl-layout__header .mdl-layout__drawer-button {
		visibility: visible;
	}

	.mdl-layout__header-row {
		padding-left: 80px;
	}
}