#name a {
	padding: 0;
	display: block;
	font-family: "StarsFromOurEyes";
	font-size: 25px;
	color: #e5dff0;
	padding-bottom: 0px;
	margin-left: 25px;
	margin-top: 15px;
	text-align: center;
	text-decoration: none;
}
#name img {
	width: 200px;
}

#current {
	background-color: #e5dff0;
}

#center{
	background-color: #e5dff0;
	width: 80%;
	min-width: 700px;
	height: 100%;
	min-height: 502px;
	margin: 0 auto;
	margin-top: -6px;
	opacity: .75;
	border-style: dotted;
	border-color: #D8BDF2;
	border-top: 0;
	border-bottom: 0;
}

#footer {
	width:100%;
	height: 30px;
	position: relative;
	bottom:0;
	left:0;
	background-color: #D8BDF2;
	opacity: .75;
	text-align: center;
}

#footer p {
	color: #627ad5;
	font-family: 'FishFingers';
	margin: 0;
	padding-top: 9px;
}
